name: tagging

on:
  push:
    branches-ignore:
      - '**'
    tags:
      - 'v*.*.*'

env:
  TZ: Asia/Tokyo

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 5
    steps:
      - run: >
          gh release create '${{ github.ref_name }}'
          --target '${{ github.ref_name }}'
          --title '${{ github.ref_name }}'
          --generate-notes
        env: 
          GH_HOST: github.com
          GH_PROMPT_DISABLED: 1
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
