name: tagging

on:
  push:
    branches-ignore:
      - '**'
    tags:
      - 'v*.*.*'

env:
  TZ: Asia/Tokyo

jobs:
  tagging:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    # TODO: add permissions
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: haya14busa/action-update-semver@7d2c558640ea49e798d46539536190aff8c18715 # v1.5.1
  release:
    runs-on: ubuntu-latest
    needs: tagging
    timeout-minutes: 5
    # TODO: add permissions
    steps:
      - run: >
          gh release create '${{ github.ref_name }}'
          --target '${{ github.ref_name }}'
          --title '${{ github.ref_name }}'
          --generate-notes
        env: 
          GH_HOST: github.com
          GH_PROMPT_DISABLED: 1
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
