name: test

on:
  - push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TZ: Asia/Tokyo

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        runner:
          - macos-14
          - macos-15
          - macos-26
          - ubuntu-22.04
          - ubuntu-24.04
          - windows-2022
          - windows-2025
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - id: os-info
        uses: ./
      - run: test -n '${{ steps.os-info.outputs.version }}'
